body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7f7f7;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ff914d;
    color: white;
}

.logo {
    font-size: 1.8rem;
}

.nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: 600;
}

.nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: white;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-img {
    width: 45%;
    border-radius: 15px;
}

.btn-hero {
    background: #ff914d;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.categorias {
    padding: 50px 20px;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.cat-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cat-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.productos {
    padding: 50px 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.precio {
    font-size: 1.2rem;
    color: #ff914d;
    font-weight: bold;
}

.btn {
    background: #ff914d;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #ff7b2a;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 40px;


